<div class='main'>
  <div class='box img-box'>
    <img src='<%= user.photo %>' alt='Author-img' class='img-box'>
  </div>
  <div class='box my-card'>
    <a href='/users/<%= user.id %>'>
      <h2 class='title'><%= user.name %></h2>
    </a>
    <p class='posts-counter '>
      Total number of posts are: <%= user.posts_counter %>
    </p>
  </div>
</div>
